@model RivneBloodTransfusionCenter.ViewModels.DonorRegistrationViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>@ViewData["Title"] - UI</title>

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/donor/registration-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="shape1"></div>
    <div class="shape2"></div>
    <div class="container">
        <form>
            <div class="mb-3 d-flex justify-content-center">
                <h2 class="fw-bold">Реєстрація</h2>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <p>Уже є акаунт? <a asp-area="" asp-controller="Donor" asp-action="Login">Увійти!</a></p>
            </div>
            <div class="mb-3 ">
                <label for="inputFirstName" class="form-label">Прізвище</label>
                <input type="text" class="form-control" id="inputFirstName">
            </div>
            <div class="mb-3 ">
                <label for="inputName" class="form-label">Ім'я</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="mb-3 ">
                <label for="sexes" class="form-label">Стать</label>
                <select class="form-select" aria-label="Вибери зі списку">
                    <option selected>Вибери зі списку</option>
                    @{
                        @foreach (var item in Model.Sexes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3 ">
                <label for="bloodTypes" class="form-label">Група крові</label>
                <select class="form-select" aria-label="Вибери зі списку">
                    <option selected>Вибери зі списку</option>
                    @{
                        @foreach (var item in Model.BloodTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3 ">
                <label for="inputPhone" class="form-label">Номер телефону</label>
                <input type="tel" class="form-control" id="inputPhone">
            </div>
            <div class="mb-3 ">
                <label for="inputEmail" class="form-label">Електронна пошта</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="mb-3 ">
                <label for="inputPassword" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="mb-3 ">
                <label for="inputPasswordRepit" class="form-label">Повторіть пароль</label>
                <input type="password" class="form-control" id="inputPasswordRepit">
            </div>
            <button type="submit" class="btn btn-secondary w-100">Зареєструватися</button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
</body>
</html>